#fondo {
    background-image: url(../homework/tartan_aac46187ce5081d1cf2733c10d3d2998.png);
}
.flex {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
div {
    text-align: center;
}
h1 {
    color: black;
}
img {
    width: 400px;
}
.boton {
    display: block;
    background-color: rgb(14, 3, 3);
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: #6b6a6a;
    padding: 50px;
    border: solid 5px #131616;
}   
#spanId {
    font-size: 18px;
    margin: 50px;
}